.paragraph {
  width: 100%;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  font-family: Inter, sans-serif;
  font-size: 20px;
}

.post-info p {
  margin-right: 10px;
  margin-bottom: 0;
  display: inline-block;
}

@media (max-width: 575px) {
  .post-info p{
    display: block;
    margin-bottom: 5px;
  }
  .paragraph p {
    display: block;
    margin-bottom: 20px;
  }
}

h1.fw-semibold {
  font-size: 60px;
  font-family: Inter, sans-serif;
  margin-bottom: 10px;
}

.modal-body {
  padding: 0;
}

.modal-body .container {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 18px;
}

@media (max-width: 500px) {
  h1.fw-semibold {
    font-size: 40px;
  }
}

.subheading {
  font-size: 24px;
  font-family: Inter, sans-serif;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .subheading {
    font-size: 20px;
  }
}

.post-info {
  font-family: Inter, sans-serif;
  display: inline-block;
}

@media (max-width: 500px) {
  .post-info {
    font-size: 14px;
  }
}

