h3 {
  font-family: Inter, sans-serif;
  font-weight: bold;
}

.modal-row {
  margin-bottom: 20px;
  text-align: left;
  margin-right: 0;
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
}

#modal-2 .modal-row {
  margin-top: 20px;
}

#modal-2 textarea {
  padding: 5px 10px;
}
.modal-footer {
  background: rgb(2, 36, 85);
}

.bio {
  font-family: Inter, sans-serif;
  margin-right: 0px;
  font-size: 20px;
}

.bio-edit a {
  display: none;
}

.bio-edit:hover a {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}


@media (max-width: 414px) {
  .bio {
    font-size: 16px;
  }
}



