{% extends 'layout.html' %}
{% block nav %}<nav class="navbar navbar-expand-md py-3 navbar-light" style="width: 100%;margin-bottom: 0px;background: #022455;border-bottom: 1px solid #b4ccef;padding-right: 50px;padding-left: 50px;"> {% endblock nav %}

{% block content %}
    <section class="position-relative py-4 py-xl-5" style="width: 100%;margin: auto;transform: translate(0px) scale(1);">
        <div class="container position-relative">
            <form method="post" action="">
                {{ form.hidden_tag() }}
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="mb-3">
{#                    <input class="form-control" type="text" id="name-2" name="Title" placeholder="Title">#}
                    {{ form.title.label }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3">
{#                    <input class="form-control" type="text" id="name-2" name="Title" placeholder="Title">#}
                    {{ form.subheading.label }}
                    {% if form.subheading.errors %}
                        {{ form.subheading(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.subheading.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.subheading(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3">
{#                    <input class="form-control" type="text" id="name-2" name="Title" placeholder="Title">#}
                    {{ form.category.label }}
                    {% if form.category.errors %}
                        {{ form.category(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="mb-3">
{#                    <textarea class="form-control" id="message-2" name="message" rows="8" placeholder="Content"></textarea>#}
                    {{ form.content.title }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            <div class="form-group mt-3 mb-3">
               {{ form.submit(class="btn btn-primary") }}
           </div>
{#                <div><button class="btn btn-primary d-block w-100" type="submit">Post</button></div>#}
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content') }}
        </div>

    </section>
{% endblock content %}
{% block footer %}     <footer class="text-center py-4 fixed-bottom" style="background: #022455;margin-top: 10px;"> {% endblock footer %}