<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Polyglotte</title>
    <link rel="icon" href="../static/img/design3.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
{#   <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Display&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Serif+Text&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+HK&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="../static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/NUCCASJNR/Polyglotte@Dev_Frankenstein_Flask_SQLAlchemy/Clean_Blog/static/css/Articles-Cards-images.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/NUCCASJNR/Polyglotte@f1134376a3663006d43183a3cd03a2feb62c0ea7/Clean_Blog/static/css/styles.css">
{#    <link rel="stylesheet" href="../static/css/post.css">#}
{#    <link rel="stylesheet" href="../static/css/signin.css">#}
{#    <link rel="stylesheet" href="../static/css/signup.css">#}
    <style>

        body {
            top: 0 !important;
        }

        nav .goog-te-banner-frame {
        }

        nav .goog-logo-link {
            display: none !important;
        }

        nav .goog-te-gadget {
            margin-top: 15px !important;
            color: transparent !important;
            margin-left: 20px !important;
        }

        .VIpgJd-ZVi9od-l4eHX-hSRGPd, .VIpgJd-ZVi9od-ORHb-OEVmcd, #goog-gt-tt{
            display: none !important;
        }
        @media (max-width: 767px) {
            nav .goog-te-gadget {
            margin-left: 0 !important;
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top py-3 navbar-light">
        <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="{{ url_for('index') }}">
            <img class="rounded img-fluid w-100 fit-cover" src="../static/img/design3.png" style="height: 75px"/>
            <span style="font-family: ABeeZee, sans-serif;color: rgb(255,255,255);">Polyglotte</span></a><i class="icon ion-navicon-round navbar-toggler" id="nav-toggle" data-bs-toggle="collapse" data-bs-target="#navcol-3" style="font-size:30px;color:rgb(255,255,255);"></i>
            <div class="collapse navbar-collapse" id="navcol-3">
                <ul class="navbar-nav d-flex align-items-center mx-auto" style="color:rgb(255,255,255);transform:translate(0px);">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}" style="color: rgb(255,255,255);font-size: 16px;font-family: ABeeZee, sans-serif;">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="color: rgb(255,255,255);font-size: 16px;font-family: ABeeZee, sans-serif;">Our Story</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('new_post') }}" style="color: rgb(255,255,255);font-size: 16px;font-family: ABeeZee, sans-serif;">New Post</a></li>
                    <li class="nav-item"><div id="google_translate_element"></div></li>
                </ul>
               <div class="d-flex justify-content-center">
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('account') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;">Account</button></a>
                    <a href="{{ url_for('logout') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;">Logout</button></a>
                {% else %}
                    <a href="{{ url_for('login') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;">Login</button></a>
                    <a href="{{ url_for('signup') }}"><button class="btn btn-primary" type="button" style="margin-right: 5px;font-family: ABeeZee, sans-serif;">Sign Up</button></a>
                {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
           {% for category, message in messages %}
               <div class="alert alert-{{ category }} mb-0">
                   {{ message }}
               </div>
           {% endfor %}
       {% endif %}
   {% endwith %}
    <section class="position-relative py-4 py-xl-5" style="width: 100%;margin: auto;transform: translate(0px) scale(1);">
        <div class="container position-relative">
            <form method="post" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="mb-3">
{#                    <input class="form-control" type="text" id="name-2" name="Title" placeholder="Title">#}
                    {{ form.title.label }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control") }}
                    {% endif %}
                </div>
                <div class="mb-3">
{#                    <input class="form-control" type="text" id="name-2" name="Title" placeholder="Title">#}
                    {{ form.subheading.label }}
                    {% if form.subheading.errors %}
                        {{ form.subheading(class="form-control form-control- is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.subheading.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.subheading(class="form-control form-control-") }}
                    {% endif %}
                </div>
                <div class="mb-3">
{#                    <input class="form-control" type="text" id="name-2" name="Title" placeholder="Title">#}
                    {{ form.category.label }}
                    {% if form.category.errors %}
                        {{ form.category(class="form-control form-control- is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.category(class="form-control form-control-") }}
                    {% endif %}
                </div>
                <div class="mb-3">
{#                    <textarea class="form-control" id="message-2" name="message" rows="8" placeholder="Content"></textarea>#}
                    {{ form.content.label }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control- is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-") }}
                    {% endif %}
                </div>
                <div class="mb-3">
                    {{ form.picture.label }}
                    {% if form.picture.errors %}
                        {{ form.picture(class="form-control form-control- is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.picture.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.picture(class="form-control form-control") }}
                    {% endif %}

                </div>
            <div class="form-group mt-3 mb-3">
               {{ form.submit(class="btn btn-primary") }}
           </div>
{#                <div><button class="btn btn-primary d-block w-100" type="submit">Post</button></div>#}
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name='content') }}
        </div>

    </section>
    <footer class="text-center py-4">
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3">
                <div class="col">
                    <p class="my-2" style="color: var(--bs-body-bg);font-family: Inter, sans-serif;">Copyright&nbsp;© 2023 Polyglotte</p>
                </div>
                <div class="col"></div>
                <div class="col">
                    <ul class="list-inline my-2" style="font-family: Inter, sans-serif;">
                        <li class="list-inline-item list-inline-item"><a href="#" style="color:var(--bs-secondary-bg);">Privacy Policy</a></li>
                        <li class="list-inline-item list-inline-item"><a href="#" style="color:var(--bs-secondary-bg);">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{#    <script src="../static/bootstrap/js/bootstrap.min.js"></script>#}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>
</body>


</html>