<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="assets/css/Articles-Cards-images.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-Dark-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/css/Profile-Card.css">
</head>

<body>
    <div class="text-center profile-card" style="margin:0;background-color:#ffffff;">
        <div class="d-flex d-lg-flex profile-card-img" style="height:600px;background:linear-gradient(white 0%, rgba(62,140,228,0.81) 0%), url(&quot;assets/img/pexels-kaique-rocha-242133.jpg&quot;) center / cover repeat-x, #ffffff;">
            <div style="margin:auto;"><img class="rounded-circle" style="margin-top:-70px;width:200px;height:200px;" src="assets/img/avatar-dhg.png" height="150px">
                <h3 style="font-size:36px;color:var(--bs-body-bg);margin-bottom:0px;">Joseph Mancuso</h3>
                <p style="padding:18px;padding-bottom:0;padding-top:0px;font-size:32px;color:var(--bs-body-bg);">@JoshMan</p>
                <div class="container d-lg-flex" style="margin-top:0px;">
                    <div class="row text-light d-flex justify-content-center align-items-center">
                        <div class="col-md-4" style="width:130px;margin:0px 10px;padding:0;background:#384f71;border-radius:20px;padding-top:10px;padding-bottom:10px;">
                            <h6 style="margin-bottom:0px;">Comments</h6>
                            <p style="font-size:24px;margin-bottom:0px;">4373</p>
                        </div>
                        <div class="col-md-4" style="width:130px;padding:0;margin:0px 10px;background:#384f71;border-radius:20px;padding-top:10px;padding-bottom:10px;">
                            <h6 style="margin:0px;">Followers</h6>
                            <p style="font-size:24px;margin:0px;">4373</p>
                        </div>
                        <div class="col-md-4" style="width:130px;padding:0px;margin-right:10px;margin-left:10px;background:#384f71;border-radius:20px;padding-top:10px;padding-bottom:10px;margin-top:0px;">
                            <h6 style="margin:0px;">Following</h6>
                            <p style="font-size:24px;margin:0px;">4373</p>
                        </div>
                    </div>
                </div>
                <div class="d-md-flex justify-content-md-center align-items-md-center" style="margin-top:10px;"><button class="btn btn-primary d-md-flex" type="button" data-bs-toggle="modal" data-bs-target="#modal-1">Edit Profile</button>
                    <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Personal Info</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body" style="padding: 0px 0px;">
                                    <form style="padding: 20px;padding-top: 0px;padding-bottom: 0px;">
                                        <div class="row" style="margin-bottom: 20px;text-align: left;margin-right: 0px;margin-left: 0px;">
                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12" style="display:inline;text-align:center;margin-bottom:0px;height:300px;"><img class="rounded-circle img-fluid mb-3 mt-4" src="assets/img/dogs/image2.jpeg" style="display:inline;max-height:200px;width:200px;height:200px;"><br><button class="btn btn-primary btn-sm" id="photoBtn" type="button">Change Photo</button></div>
                                            <div class="col-md-6 col-lg-12">
                                                <div class="mb-3"><label class="form-label form-label" for="last_name"><strong>First Name</strong></label><input class="form-control form-control" type="text" placeholder="John" name="first_name" required=""></div>
                                            </div>
                                            <div class="col-md-6 col-lg-12">
                                                <div class="mb-3"><label class="form-label form-label" for="first_name"><strong>LastName</strong></label><input class="form-control form-control" type="text" placeholder="Doe" name="last_name" required=""></div>
                                            </div>
                                            <div class="col-md-12 text-start">
                                                <div class="mb-3"><label class="form-label form-label" for="email"><strong>Email Address</strong></label><input class="form-control form-control" type="email" id="email" placeholder="user@example.com" name="email" required=""></div>
                                            </div>
                                            <div class="col-md-12 text-start">
                                                <div class="mb-3"><label class="form-label form-label" for="username"><strong>Username</strong></label><input class="form-control form-control" type="text" placeholder="Username" name="username" required=""></div>
                                            </div>
                                            <div class="col">
                                                <p class="text-danger" id="emailErrorMsg" style="display:none;"></p>
                                                <p class="text-danger" id="passwordErrorMsg" style="display:none;"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer"><button class="btn btn-light" type="button" data-bs-dismiss="modal">Cancel</button><button class="btn btn-primary" type="button">Update</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="d-sm-flex d-md-flex d-lg-flex justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center">
        <div style="width:650px;margin-top:30px;">
            <h3>Bio</h3>
            <p class="d-flex d-lg-flex justify-content-center align-items-center" style="font-size:16px;"><br><span style="color:rgb(0, 0, 0);">Joseph, the embodiment of elegance and confidence, commands the runway with a captivating presence that effortlessly breathes life into every garment he wears. With striking features and eyes that hold a thousand stories, Jonathan's chameleon-like ability to transform from one stunning persona to the next is awe-inspiring. Beyond his magnetic allure, he embraces the visions of designers, turning their creations into iconic masterpieces. A true role model, Jonathan utilizes his platform for positive change, setting him apart in the fashion industry. Welcome to the extraordinary world of Jonathan, where style becomes art, and every step tells a mesmerizing story.</span><br><br></p>
        </div>
    </section>
    <section style="padding-top:20px;">
        <div class="container" style="padding-left:40px;padding-right:40px;">
            <h3>Joseph's Posts</h3>
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Category1</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Category2</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Category3</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="container py-4 py-xl-5">
                            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category1</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category1</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category1</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="container py-4 py-xl-5">
                            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category2</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category2</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category2</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <div class="container py-4 py-xl-5">
                            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category3</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category3</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card"><img class="card-img-top w-100 d-block card-img-top w-100 card-img-top w-100 fit-cover" style="height:200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                        <div class="card-body p-4">
                                            <p class="text-primary card-text mb-0">Category3</p>
                                            <h4 class="card-title">Lorem libero donec</h4>
                                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="d-flex"><img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                                <div>
                                                    <p class="fw-bold mb-0">John Smith</p>
                                                    <p class="text-muted mb-0">Erat netus</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
</body>

</html>