{% extends "layout.html" %}
{% block content %}
    <div class="container .specific-container">
    <div class="banner">
        <h2>Sign up</h2>
    </div>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.first_name.label(class="form-label") }}
            {{ form.first_name(class="form-control fc") }}
            {{ form.last_name.label(class="form-label") }}
            {{ form.last_name(class="form-control fc") }}
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control fc is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control fc") }}
            {% endif %}
            {{ form.username.label(class="form-label") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control fc is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control fc") }}
            {% endif %}
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control fc") }}
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control fc") }}
        </div>
        <div class="form-container">
            {{ form.submit(class="btn btn-primary custom-button") }}
            <div><button class="btn btn-light custom-button" type="button">Sign up with Google</button></div>
            <p>Already have an account? <a class="btn btn-link" role="button" data-bs-toggle="button">Login</a></p>
        </div>
    </form>
</div>
{% endblock %}