{% extends "layout.html" %}
{% block content %}
    <div class="container form-container">
        <div class="content" style="margin: 50px 0px;">
            <div class="text-and-supporting-text">
                <h1 class="text">Login</h1>
                <h1 class="supporting-text">Welcome Back!</h1>
            </div>
            <div class="content2">
                <form action="" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                    <div class="input-with-label">
                        <label class="form-label">Username</label>
                        {% if form.username.errors %}
                            {{ form.username(class="form-control fc is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control fc") }}
                        {% endif %}
                    </div>
                    <div class="input-with-label">
                        <label class="form-label">Password</label>
                        {% if form.password.errors %}
                            {{ form.password(class="form-control fc is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control fc") }}
                        {% endif %}
                    </div>
                    <div class="actions">
                        {{ form.submit(class="btn btn-primary submit") }}
                        </div>
                </form>
            </div>
            <div class="text-center" style="margin-top: 10px;">
                <p>Don't have an account?</p><a href="{{ url_for('signup') }}">Sign Up</a>
            </div>
        </div>
    </div>
{% endblock content %}