.specific-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
}
.banner {
    margin-bottom: 20px;
}
.form-container {
    margin-top: 20px;
}
.custom-button {
    margin-right: 5px;
    width: 300px;
    max-width: 100%;
}

.align-content-center
{
    align-items: center;
    justify-content: center;
}

.banner > h2 {
    font-size: 25px;
    line-height: 38px;
    font-family: Inter;
    color: #101828;
}

#navcol-3 {
}

#first-name {
    width: 300px;
}

#last-name {
    width: 300px;
}

#username {
    width: 300px;
}

#email {
    width: 300px;
}

#password {
    width: 300px;
}

.navbar.navbar-light.navbar-expand-md.py-3 {
}

.container {
}

.navbar-brand.d-flex.align-items-center {
}

.bs-icon-sm.bs-icon-rounded.bs-icon-primary.d-flex.justify-content-center.align-items-center.me-2.bs-icon {
}

.bi.bi-bezier {
}

.navbar-toggler {
}

.visually-hidden {
}

.navbar-toggler-icon {
}

.navbar-nav.mx-auto {
}

.nav-item {
}

.nav-link {
}

.btn.btn-primary {
    margin-right: 5px;
}

.btn.btn-light {
    margin-left: 5px;
}

.container.specific-container {
}

.banner {
}

.form-container {
}

.btn.btn-primary.custom-button {
    margin-right: 5px;
}

.btn.btn-light.custom-button {
    margin-right: 5px;
}

.btn.btn-link {
    margin-left: 5px;
}
